//
// Home Page Layout
// --------------------------------------------------


.homepage-hero {
  background-color: $brand-secondary;
  background-image: url('images/hero-swirl.jpg');
  background-repeat: no-repeat;
  background-position: top right;
}
