//
// Basic Page Layout
// --------------------------------------------------


// Header bar
.site-header {
  background-color: $brand-secondary;
  height: $header-height;

  .site-logo {
    display: block;
    height: 40px;
    margin: (($header-height - 40px) / 2) 0;
  }

  .social-links {
    text-align: right;

    a {
      position: relative;
      display: inline-block;
      margin: $header-padding-vertical 0;


      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
      }
    }

    .social-logo {
      margin-left: 5px;
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    height: 76px;

    .site-logo {
      height: 50px;
      margin: ((76px - 50px) / 2) 0;
    }

    .social-links {

      a {
        margin: ((76px - $header-line-height) / 2) 0;
      }
    }
  }
}


// Footer
#FooterPane {
  background-color: $brand-secondary;
  padding: ($grid-gutter-width * 2) 0;
  color: $gray-light;

  div[class*="col"]:nth-of-type(2) {
    text-align: right;
  }

  @media (max-width: $grid-float-breakpoint-max) {
    text-align: center;

    div[class*="col"]:nth-of-type(2) {
      text-align: center;
    }
  }
}
